* {
    font-family: "Courier", sans-serif;
    padding: 0;
    margin: 0;
}

.section {
    padding: 30px;
}

#hero {
    background-color: aquamarine;
}

#footer {
    background-color: rgb(255, 237, 237);
}

h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed aquamarine;
}

h1 {
    margin-bottom: 20px;
}

#count {
    font-size: 300px;
    color: aquamarine;
    font-weight: 900;
}

#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    background: black;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    border: 2px dashed black;
    padding: 30px;
}

#scroll-text {
    color: white;
    font-size: 34px;

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}